@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
	font-family: 'Gugi', cursive;
	background-color: #E75C03;
	min-height: 100vh;
}

.title, .subtitle, p {
	color: black !important;
	text-align: center;
}

.logo {
	width: 250px;
	margin: auto;
	display: block;
}

.fab {
	font-size: 100px;
	color: black;
}

.konkuri-widget-iframe {
	height: 1000px;
	margin: auto;
	display: block;
}

footer.footer {
	background-color: transparent;
	bottom: 0;
	width: 100%;
	text-align: center;
}